<div class="card-container">
	<div class="card">
	  <div class="front">
		<%= cl_image_tag( project_image, :height=>250, :width=>250, :crop=>"fill") %>
		<hr>
		<h1 class="project-title"><%= title %></h1>
	  </div>
	  <div class="back">
	  <ul style="list-style-type:none">
	  	<ul style="list-style-type:none">
		    <% links.each do |key, value| %>
  				<li> <%= fa_icon "link" %> <%= link_to key, value, target: "_blank" %> </li>
  			<% end %>
		</ul>
	  </div>
	</div>
</div>