<div class="card-container">
	<div class="card">
	  <div class="front">
		<%= cl_image_tag( project_image, :height=>250, :width=>250, :crop=>"fill") %>
		<hr>
		<h1 class="project-title"><%= title %></h1>
	  </div>
	  <div class="back">
	  	<p>

	  	</p>
	  </div>
	</div>
</div>